h1 {
    background-color: blue;
    color: white;
}
h2 {
    background-color: rgb(0, 255, 55);
    color: rgb(38, 199, 172);
}
h3 {
    background-color: rgb(8, 187, 8);
    color: rgb(251, 255, 21);
}
h4 {
    background-color: rgb(255, 0, 179);
    color: rgb(10, 4, 4);
}